{{ define "title" }}Notes & Projects{{ end }}

{{ define "main" }}
  <h2>
    About
  </h2>
  <blockquote>
    “The beige hue on the waters of the loch impressed all, including the
    French queen, before she heard that symphony again, just as young Arthur
    wanted.”
  </blockquote>
  <a href="/about" class="font-semibold">
    Read More →
  </a>

  <h2>
    Notes
  </h2>
  <ul>
  {{ range first 10 (where .Site.Pages "Section" "note") }}
    <li>
      <a href="{{ .Permalink }}">
        <span class="font-semibold">{{ .Title }}</span>
      </a>
    </li>
  {{ end }}
  </ul>

  <h2>
    Projects
  </h2>
  <img
    class="rounded-lg shadow-lg"
    src="/img/eugene-chystiakov-sRRhKMeCeXY-unsplash-cropped.jpg"
  >
  <div class="flex mt-1">
    <div class="flex-initial pr-3">
      <a href="https://pkg.go.dev/github.com/revett/projects/pkg/uci">
        <b><code>uci</code></b>
      </a>
    </div>
    <div class="flex-initial">
      Go package for interacting with chess engines that support the
      Universal Chess Interface (UCI) protocol.
    </div>
  </div>

  <img
    class="mt-4 rounded-lg shadow-lg"
    src="/img/jack-anstey-XVoyX7l9ocY-unsplash-cropped.jpg"
  >
  <div class="flex mt-1">
    <div class="flex-initial pr-3">
      <a href="#">
        <b><code>thruhike</code></b>
      </a>
    </div>
    <div class="flex-initial">
      Reference website for long distance multi-day hikes and wild camping areas
      in the UK, built using
      <a href="https://www.mapbox.com/">Mapbox</a>.
    </div>
  </div>

{{ end }}
