{{ define "title" }}
  {{ title .Section }}
{{ end }}

{{ define "main" }}
  <h2>
    <a href="/">Home</a> / {{ .Title }}
  </h2>

  {{ $section := .Section }}

  <h3>All</h3>
  <ul>
  {{ range sort (where .Site.RegularPages "Section" $section) "Title" "asc" }}
    <li>
      <a href="{{ .Permalink }}">
        <span class="font-semibold">{{ .Title }}</span>
      </a>
    </li>
  {{ end }}
  </ul>

  <hr>

  <h3>By Country</h3>

  <h4>England</h4>
  <ul>
  {{ range $page := sort (where .Site.RegularPages "Section" $section) "Title" "asc" }}
    {{ if in $page.Params.Data.Countries "England" }}
      <li>
        <a href="{{ .Permalink }}">
          <span class="font-semibold">{{ .Title }}</span>
        </a>
      </li>
    {{ end }}
  {{ end }}
  </ul>

  <h4>Scotland</h4>
  <ul>
  {{ range $page := sort (where .Site.RegularPages "Section" $section) "Title" "asc" }}
    {{ if in $page.Params.Data.Countries "Scotland" }}
      <li>
        <a href="{{ .Permalink }}">
          <span class="font-semibold">{{ .Title }}</span>
        </a>
      </li>
    {{ end }}
  {{ end }}
  </ul>

  <h4>Wales</h4>
  <ul>
  {{ range $page := sort (where .Site.RegularPages "Section" $section) "Title" "asc" }}
    {{ if in $page.Params.Data.Countries "Wales" }}
      <li>
        <a href="{{ .Permalink }}">
          <span class="font-semibold">{{ .Title }}</span>
        </a>
      </li>
    {{ end }}
  {{ end }}
  </ul>
{{ end }}
