{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "main" }}
  <h2>
    <a href="/">Home</a> /
    <a href="/{{ .Section }}">{{ title .Section }}</a> /
    {{ .Title }}
  </h2>

  <div id="map" class="h-96 mb-4 outline-none rounded-lg shadow-lg"></div>

  <h2>Details</h2>
  <ul>
    <li>
      {{ if eq (len .Page.Params.Data.Countries) 1 }}
        <b>Country</b>:
      {{ else }}
        <b>Countries</b>:
      {{ end }}
      {{ delimit .Page.Params.Data.Countries ", " }}
    </li>
    {{ if .Page.Params.Data.Areas }}
      <li>
        {{ if eq (len .Page.Params.Data.Areas) 1 }}
          <b>Area</b>:
        {{ else }}
          <b>Areas</b>:
        {{ end }}
        {{ delimit .Page.Params.Data.Areas ", " }}
      </li>
    {{ end }}
    <li>
      <b>Distance</b>:
      {{ .Page.Params.Data.Distance.Miles }}m /
      {{ .Page.Params.Data.Distance.Kilometers }}km
    </li>
    <li>
      <b>Duration</b>: {{ .Page.Params.Data.Days }} days
    </li>
  </ul>

  <h2>Summary</h2>
  <blockquote>{{ .Page.Params.Data.Summary.Text }}</blockquote>
  <p>
    From
    <a href="{{ .Page.Params.Data.Summary.Author.Url }}">{{ .Page.Params.Data.Summary.Author.Name }}</a>.
  </p>

  <h2>Links</h2>
  <ul>
  {{ range $link := .Page.Params.Data.Links }}
    <li>
      <a href="{{ $link.url }}">{{ $link.title }}</a>
    </li>
  {{ end }}
  </ul>

  {{ .Content }}
{{ end }}
