{{ define "title" }}
  {{ if eq .Type "note" }}
    Notes on {{ .Title }}
  {{ else }}
    {{ .Title }}
  {{ end }}
{{ end }}

{{ define "main" }}
  <h1>
    <a href="/">Posts</a> /
    {{ if eq .Type "note" }}
      Notes on {{ .Title }}
    {{ else }}
      {{ .Title }}
    {{ end }}
  </h1>

  <div>
    Last Updated:
    {{ if .GitInfo }}
      <a href="https://github.com/revett/projects/commit/{{ .GitInfo.Hash }}">
        {{ .Lastmod.Format "Monday, 2 January 2006" }}
      </a>
    {{ end }}
  </div>

  {{ if ne .Type "page" }}
    <div>
      <h2>Contents</h2>
      {{ .TableOfContents }}
    </div>
  {{ else }}
    <div class="mb-6"></div>
  {{ end }}

  {{ .Content }}
{{ end }}
