name: Go

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: GoLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Lint (golangci)
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.38
  test:
    name: GoTest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Test
        run: go test -v ./... -cover
